body {
  background-color: #eae9e9;
  font-family: 'Source Serif Pro', serif;
}

.table {
  border-collapse: separate;
  border-spacing: 0;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.table th {
  background-color: #dbcdcd;
}

.progress {
  height: 1.5rem;
  background-color: #dbcdcd;
}

.progress-bar {
  background-color: #2f0302;
}